<style>
  .cool {
    font-family: 'Saira Semi Condensed', sans-serif; 
  }
</style>

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal website of Gennadii Turutin">
  <meta name="author" content="Gennadii Turutin">

  <title>Change password</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/square.png') }}">
  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet" type="text/css">
  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="/static/js/resume.min.js"></script>

</head>

{% include "partials/flash.html" %}
{% block flash %}
{% endblock %}

<body class="text-center" style="background-color: white;">
  <div class="content-section" >
    <div id="parent_container">
      <form method="POST" action="{{ url_for('auth.change_password') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4 cool">Change password</legend>
          <div class="form-group">
                {{ form.oldpassword.label(class="form-control-label cool") }}
                {% if form.oldpassword.errors %}
                    {{ form.oldpassword(class="form-control form-control-md is-invalid cool") }}
                    <div class="invalid-feedback cool">
                        {% for error in form.oldpassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.oldpassword(class="form-control form-control-md cool") }}
                {% endif %}
            </div>
          <div class="form-group">
                {{ form.newpassword.label(class="form-control-label cool") }}
                {% if form.newpassword.errors %}
                    {{ form.newpassword(class="form-control form-control-md is-invalid cool") }}
                    <div class="invalid-feedback cool">
                        {% for error in form.newpassword.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.newpassword(class="form-control form-control-md cool") }}
                {% endif %}
          </div>

          <div class="form-group">
                {{ form.confirmation.label(class="form-control-label cool") }}
                {% if form.confirmation.errors %}
                    {{ form.confirmation(class="form-control form-control-md is-invalid cool") }}
                    <div class="invalid-feedback cool">
                        {% for error in form.confirmation.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirmation(class="form-control form-control-md cool") }}
                {% endif %}
          </div>
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-secondary btn-md cool">Submit</button>
        </div>
        <div class="border-top pt-3">
          <small class="text-muted cool">
            <a class="ml-2" href="{{ url_for('auth.back') }}">Back</a>
          </small>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
