<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">

<title>Request password</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/flask.png') }}">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
<link href="{{url_for('static', filename='css/freelancer_modified.css')}}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

</head>

{% include "partials/flash.html" %}
{% block flash %}
{% endblock %}


<body class="text-center">
  <div class="content-section" >
    <div id="parent_container">
      <form method="POST" action="{{ url_for('auth.forgot_password') }}">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4 text-grey">Request password</legend>
          <div class="form-group">
            {{ form.email.label(class="form-control-label text-grey") }}
            {{ form.email(class="form-control form-control-lg") }}
          </div>
        </fieldset>
        <br>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-md" id="sendMessageButton">Send</button>
        </div>
        <a class="btn btn-secondary text-grey" href="{{ url_for('main.blog') }}">Go to blog</a>
      </form>
    </div>
  </div>
<script type="text/javascript">
$( "#flash" ).ready(function() {
$( "#flash" ).fadeOut(3000);
});
</script>
</body>

</html>
