/* Show it is fixed to the top */

body {
    padding-top: 150px;

}

.navbar-collapse.collapse.in {
  display: block!important;
}


.container_img {
    display: block;
    width:300px;
    background-color: #efeff5; 
    margin-left: 5%;
}
.container img {
  width: 100%;
  overflow: hidden;
}


.nav-item {
    padding-right: 4rem;
    padding-left: 5rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

.fixed-top {
  position: absolute;
  display: flex; 
  justify-content: center;  
  font-size: 5rem;
  font-weight: bold;
  border-radius: 0 !important;
}
