<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="Gennadii Turutin" content="">
<title>Blog</title>
<!-- Bootstrap core CSS -->
<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<!-- Custom fonts for this template -->
<link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<!-- Plugin CSS -->
<link href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='css/freelancer.css')}}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <!-- Navigation -->
  {% include "partials/navbar.html" %}
  {% block navbar %}
  {% endblock %}


<!-- Main Content -->
<div class="container" style="margin-top:10%;">
    <div class="col-lg-8 col-md-10 mx-auto" style="margin-bottom:5%;">
          <h2  class="text-center text-uppercase text-secondary">API</h2>
          <hr>
          <p class="lead text-secondary"> To get the list of all posts: </p>
          <p class="lead text-secondary"><strong>/api/blog/posts/</strong></p>
          <p class="lead text-secondary"> To get a specific post:</p>
          <p class="lead text-secondary"><strong>/api/blog/posts/id</strong></p>
          <p class="lead text-secondary"> To get the list of all users:</p>
          <p class="lead text-secondary"><strong>/api/blog/users/</strong></p>
          <p class="lead text-secondary"> To get a specific user: </p>
          <p class="lead text-secondary"><strong>/api/blog/posts/name</strong></p>
    </div>


    <!-- Footer -->
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mb-0">
      {% include "partials/footer.html" %}
      {% block footer %}
      {% endblock %}
    </div>

  </div>
</body>
</html>
