<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="Gennadii Turutin" content="">
<title>Blog</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/flask.png') }}">
<!-- Bootstrap core CSS -->
<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<!-- Custom fonts for this template -->
<link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<!-- Plugin CSS -->
<link href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='css/freelancer_modified.css')}}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <!-- Navigation -->
  {% include "partials/navbar.html" %}
  {% block navbar %}
  {% endblock %}
  <div class="container mt-5">
    <!-- Flash messages -->
    {% include "partials/flash.html" %}
    {% block flash %}
    {% endblock %}
    
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mt-5">
      <div class="jumbotron bg-secondary mb-0">
        <h2 class="text-center text-uppercase text-grey">
        What is this blog for?
        </h2>
        <p class="lead text-grey text-center">
        I started this blog with the sole purpose of learning Flask in practice.It's for your consideration whether to look upon the blog as a good source for starting learning Flask.As I would love to share my experience with others, I'm going to publish posts on Flask and Python and would be elated to receive any critique. Feel free to copy any material published here or in my GitHub repository. My intention is to further this blog and make it more mature and thought-out.
        </p>
        <p class="lead text-grey text-center">
          <a class="btn btn-secondary btn-lg text-center" href="https://github.com/GennadiiTurutin/MyBlog" role="button">Check the blog on Github
          </a>
        </p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          {% for post in posts.items %}
            <div class="bg-secondary text-grey mb-5 mt-5 post-container">
              <a href="{{ url_for('main.post', post_id = post.id, post_url=slugify(post.title)) }}">
                <!--<div><img src="{{ post.post_image_url }}"></div>-->
                <!--<br>-->
                <h2 class="text-left text-uppercase text-grey mb-2">{{ post.title }}</h2>
                <h4 class="text-left text-uppercase text-grey mb-2">{{ post.subtitle }}</h4>
                <h6 class="lead text-left text-grey mb-4">Posted by {{ post.user.username }} on {{ post.date }}</h6>
              </a>  
            </div>
          {% endfor %}

          {% for page_num in posts.iter_pages() %}
            {% if page_num %}
              <a class="btn btn-outline-secondary mb-4" href="{{ url_for('main.blog', page=page_num) }}">{{ page_num }}</a>
              {% else %}
              ...
            {% endif %}
          {% endfor %}
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 mx-auto">
          <section class="bg-secondary text-grey mb-1">
            <div class="container">
              <h1 class="text-uppercase text-center mb-4 text-grey">Articles</h1>
              <div class="container">
              {% for post in posts.items %}
                <div class="post-container">
                  <a href="{{ url_for('main.post', post_id = post.id, post_url=slugify(post.title)) }}">
                    <div class="container">
                      <h5 class="text-right text-uppercase text-grey">{{ post.title }}</h5>
                    </div>
                  </a>
                </div>
              {% endfor %}
              </div>
            </div> 
          </section>
        </div>

      </div>
    </div>

    <!-- Footer -->
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mb-0">
      {% include "partials/footer.html" %}
      {% block footer %}
      {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      $( "#flash" ).ready(function() {
      $( "#flash" ).fadeOut(3000);
      });
    </script>
    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/freelancer.min.js"></script>
  </div>

</body>
</html>

