<style>
.container img {
  width: 100%;
  overflow: hidden;
}
</style>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="Gennadii Turutin" content="">
<title>Post</title>
<!-- Bootstrap core CSS -->
<link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
<!-- Custom fonts for this template -->
<link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<!-- Plugin CSS -->
<link href="{{url_for('static', filename='vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet" type="text/css">
<!-- Custom styles for this template -->
<link href="{{url_for('static', filename='css/freelancer.css')}}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <!-- Navigation -->
  {% include "partials/navbar.html" %}
  {% block navbar %}
  {% endblock %}
  <div class="container" style="margin-top:14%;">
    <!-- Flash messages --> 
    {% include "partials/flash.html" %}
    {% block flash %}
    {% endblock %}

    <!-- Content Description-->
        <div class="col-lg-8 col-md-10 mx-auto" style="margin-bottom:5%;">
          <div style="overflow: hidden;">
          <img src="{{ post.post_image_url }}" alt="Card image cap">
          </div>
          <div class="post-preview" >
              <h2 class="text-center text-uppercase text-secondary">
                {{ post.title }}
              </h2>
              <h4 class="text-center text-uppercase text-secondary">
                {{ post.subtitle }}
              </h4>
            <p class="lead text-secondary">Posted by {{ post.user.username }} on {{ post.date }} </p>
          </div>
          <hr>
           <!-- Tags -->
           {% include "partials/tag.html" %}
           {% block tag %}
           {% endblock %}
          <hr>
        </div>

    <!-- Post Content -->
    <article>
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-body">
              <p class="lead text-secondary"> 
              {{ post.content|safe }}
              </p>
            </div>
          </div>
    </article>

    <!-- Comments -->
    {% include "partials/comment.html" %}
    {% block comment %}
    {% endblock %}
  
    <!-- Footer -->
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto mb-0">
      {% include "partials/footer.html" %}
      {% block footer %}
      {% endblock %}
    </div>

  </div>
</body>
</html>

