<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Register</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/signin.css" rel="stylesheet">
  </head>
  

  <body class="text-center">
  {% include "flash.html" %}
  {% block flash %}
  {% endblock %}
    <form class="form-signin" action="/auth/register" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.confirmation.label }}<br>
            {{ form.confirmation(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  </body>
</html>

