
    <div class="img_div " style="overflow: hidden;">
          <img src="/static/images/photo.jpg" style="width: 300px; height: auto;">
    </div>
    <div class="container">
    <p class="title"> About me </p>
    <p class="note"> Hey! 
        My name is Gennadii, and I love web development! 
        I can do it with Flask, Django, and MEAN! Check my Github profile! 
        If you like the content of the website and want to support it, you can donate using the button below.
    </p>
    </div>

    <div class="container" style="font-size: 40px; text-align: center;">
    <a href="https://github.com/GennadiiTurutin"><i class="fa fa-github" style="color: black;"></i></a>
    <a href="https://www.linkedin.com/in/gennadii-turutin/"><i class="fa fa-linkedin" style="color: black;"></i></a>
    <a href="https://www.facebook.com/gennady.turutin"><i class="fa fa-facebook" style="color: black;"></i></a>
    </div>

