<style>
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 0px dotted #ccc;

}

.form-control-lg {
  font-size: 2rem;
  height: 10rem;
}

</style>


  <div class="page-header">
    <h2 class="text-left text-dark">Comments</h2>
  </div>
  {% if current_user.is_authenticated %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.content.label(class="form-control-label text-grey") }}
      {{ form.content(class="form-control form-control-md text-grey", style="padding: 0 0 50px 0; cols='5'; wrap='soft'") }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-secondary mb-4" id="sendMessageButton">Publish</button>
    </div>
  </form>
  {% endif %}
  {% if comments.count() > 0 %}
    {% for comment in comments %}
      <div class="media">
        <a class="media-left">
          <img src="{{ comment.user.gravatar() }}">
        </a>
        <div class="container">
          <h4 class="text-left text-dark">
            {{ comment.user.username }} on {{ comment.date }}
          </h4>
          <p class="text-left text-dark">
            {{ comment.content }}
          </p>
        </div>
      </div>
    {% endfor %}
  {% else %}
  <h4 class="text-left text-dark">No comments yet. Be the first!</h4>
  {% endif %}

   