<style>

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 0px dotted #ccc;

}

.media:hover {
    background-color: #f0f0f0;
}

.form-control-lg {
  font-size: 2rem;
  height: 10rem;
}

</style>


<div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1> Comments </h1>
                  </div>
                  <form method="POST" action="">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {{ form.content(class="form-control form-control-lg", style="padding: 0 0 100px 0; cols='5'; wrap='soft'") }}
                   </div>
                   <div class="form-group">
                   {{ form.submit(class="btn btn-outline-info") }}
                   </div>
                   </form>
                    {% for comment in comments %}
                       <div class="media">
                           <p class="pull-right"><small></small></p>
                            <a class="media-left">
                              <img src="{{ comment.user.gravatar() }}">
                            </a>
                            <div class="media-body">
                              <h4 class="media-heading user_name">{{ comment.user.username }} on {{ comment.date }}</h4>
                              {{ comment.content }}
                            </div>
                          </div>
                       {% endfor %}
                   </div>  
                </div>
            </div>
        </div>
