<style>
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 0px dotted #ccc;

}

.form-control-lg {
  font-size: 2rem;
  height: 10rem;
}

</style>


<div class="container" style="margin-top: 10%; margin-bottom: 10%;">
  <div class="page-header">
    <h2 class="text-left text-uppercase text-grey">
    Comments
    </h2>
  </div>
  {% if current_user.is_authenticated %}
    <form method="POST" action="">
      {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.content.label(class="form-control-label text-grey") }}
          {{ form.content(class="form-control form-control-lg", style="padding: 0 0 100px 0; cols='5'; wrap='soft'") }}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-secondary btn-xl" id="sendMessageButton">Publish</button>
        </div>
    </form>
  {% endif %}
  {% if comments.count() > 0 %}
      {% for comment in comments %}
        <div class="media">
          <a class="media-left">
            <img src="{{ comment.user.gravatar() }}">
          </a>
          <div class="container">
            <h4 class="text-left text-uppercase text-secondary">
              {{ comment.user.username }} on {{ comment.date }}
            </h4>
            <p class="text-left text-secondary">
              {{ comment.content }}
            </p>
          </div>
        </div>
      {% endfor %}
  {% else %}
  <h4 class="text-left text-uppercase text-secondary">No comments yet. Be the first!</h4>
  {% endif %}
</div>
   