<!-- Footer -->
<footer style="margin-bottom: 50px;">
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Content -->
          <h3 class="text-uppercase font-weight-bold">Legal stuff</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <h5 class="text-uppercase font-weight-bold">Terms and Condition</h5>
          <hr>
          <h5 class="text-uppercase font-weight-bold">Privacy Policy</h5>
        </div>

           <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Content -->
          <h3 class="text-uppercase font-weight-bold">Useful Links</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <h5 class="text-uppercase font-weight-bold">My projects</h5>
          <hr>
          <h5 class="text-uppercase font-weight-bold">WEBSITE API</h5>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h3 class="text-uppercase font-weight-bold">Contact</h4>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <h5 class="text-uppercase font-weight-bold"><i class="fa fa-home mr-3"></i> New York, NY, 10028</h5>
          <hr>
          <h5 class="font-weight-bold"><i class="fa fa-envelope mr-3"></i> gennadii.turutin@gmail.com</h5>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
</footer>

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">
      <a class="dark-grey-text" style="font-size: 15px; color: green;">Python can save the world!</a>
    </div>

  
  <!-- Footer -->
