<div class="container">
<div class="jumbotron" style="background-color: #ebfaeb;">
  <h1>What is this blog for?</h1>
  <p>I started this blog with the sole purpose of learning Flask in practice.
            It's for your consideration whether to look upon the blog as a good source for starting learning Flask.
            As I would love to share my experience with others, I'm going to publish 
            posts on Flask and Python and would be elated to receive any critique. 
            Feel free to copy any material published here or in my GitHub repository. 
            My intention is to further this blog and make it more mature and thought-out.</p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/GennadiiTurutin/MyBlog" role="button">Check the blog on Github</a></p>
</div>
</div>
