
<style>
.nav-item {
  
    padding-right: 1rem;
    padding-left: 5rem;
}
</style>


<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="{{ url_for('main.homepage') }}">PyBlog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
          
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.homepage') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
              {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.profile') }}">{{ current_user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
             {% else %}

            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            {% endif %}
            {% if current_user.email == 'gennadii.turutin@gmail.com' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
            </li>
            {% endif %}
            </ul>
            <form class="form-inline mt-2 mt-md-0" method="GET" action="{{ url_for('main.search') }}" style="size:400;">

             {{ g.search_form.q(size=20, placeholder=g.search_form.q.label.text) }} 
             <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
      
             </form>
        </div>
</nav>
