 <!-- Navigation -->

 <nav class="navbar navbar-expand-lg navbar-white fixed-top" id="sideNav">
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mt-5">
        <li class="nav-item">
         <a class="nav-link text-right text-dark" href="/"><i class="fa fa-angle-right" id="about"></i>&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right text-dark" href="/blog"><i class="fa fa-angle-right" id="blog"></i>&nbsp;Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-right text-dark" href="/courses"><i class="fa fa-angle-right" id="courses"></i>&nbsp;Courses</a>
        </li>
      </ul>
    </div>
  </nav>

  <script type="text/javascript">
    // Get URL
    var url = window.location.href;
    // Get DIV
    var about = document.getElementById('about');
    var blog = document.getElementById('blog');
    var courses = document.getElementById('courses');
    // Check if URL contains the keyword
    if( url.search( 'blog' ) > 0 ) {
        // Display the message
        about.style.display = "none";
        courses.style.display = "none";
    }
    else if( url.search( 'courses' ) > 0 ) {
        // Display the message
        about.style.display = "none";
        blog.style.display = "none";
    }
    else {
        courses.style.display = "none";
        blog.style.display = "none";
    }
  </script>